@import "src/utils/constants/styles.scss";

.button {
  width: 100%;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid $button-border;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  color: $button-color-text;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: white;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    color: $button-color-text;
    background-color: $button-color-hover;
  
    &:active {
      background-color: rgb(54, 54, 93);
    }
  }
}

