@import "src/app/styles.scss";

.formField {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: $input-color;
  border: 1px solid $input-border;
  background: $input-background;
  transition: border 0.3s ease;
  &::placeholder {
    color: $input-placeholder;
  }
  &:focus {
    outline: none;
    border-color: $input-border-focus;
  }
  &.disabled {
    opacity: 0.5;
  }
}

.formGroup {
  position: relative;
  display: flex;
  width: 100%;
  
  & > span,
  .formField {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  .formField {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }

  & > span {
    width: 70px;
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: $group-color;
    background: $group-background;
    border: 1px solid $group-border;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }

  &:focus-within {
    & > span {
      color: $group-color-focus;
      background: $group-background-focus;
      border-color: $group-border-focus;
    }
  }
}
